In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
"""
Valida se conjunto de dados tem projetos para o mesmo ano
"""
def check_project_year_candidate_duplicates(df, columns=['N_Proj_anon', 'ANO_EXERCICIO']):
    new_df = df.groupby(columns).size()
    new_df = new_df.to_frame(name = 'size').reset_index()
    display(new_df[new_df['size']>1])

In [3]:
path_save = "../Output/"

In [4]:
df_final = pd.read_csv(path_save + "finaldataset.csv", encoding="latin-1")

C:\Users\afons\AppData\Local\Temp\ipykernel_13932\2143679811.py:1: DtypeWarning: Columns (231,246,268,314,316,317,384,397,398,401,402) have mixed types. Specify dtype option on import or set low_memory=False.
  df_final = pd.read_csv(path_save + "finaldataset.csv", encoding="latin-1")

In [5]:
df_final[df_final['Anulado'] == 1.0][['N_Proj_anon', 'Motivo']]

       N_Proj_anon                                             Motivo
304        1025053  Incumprimento das obrigações ou resultados con...
305        1025053  Incumprimento das obrigações ou resultados con...
306        1025053  Incumprimento das obrigações ou resultados con...
307        1025053  Incumprimento das obrigações ou resultados con...
308        1025053  Incumprimento das obrigações ou resultados con...
...            ...                                                ...
44469      5579015  Incumprimento das obrigações ou resultados con...
44470      2255722                            Desistência do promotor
44500      2254854                            Desistência do promotor
44504      2256032                 Inexecução integral da candidatura
44531      2206711                            Desistência do promotor

[3564 rows x 2 columns]

In [6]:
check_project_year_candidate_duplicates(df_final)

Empty DataFrame
Columns: [N_Proj_anon, ANO_EXERCICIO, size]
Index: []

In [7]:
def get_years(list_years, year_candidate):
    new_list = []
    for x in json.loads(list_years):
        if int(year_candidate) > int(x):
            new_list.append(x)
    return new_list

In [8]:
df_projectos_terminados = df_final.loc[df_final['Terminado'] == 1.0]
df_projectos_anulados = df_final.loc[df_final['Anulado'] == 1.0]

In [9]:
df_projectos_terminados.shape

(6299, 411)

In [10]:
df_projectos_anulados.shape

(3564, 411)

In [11]:
df_projetos_terminados_anulados = df_final.loc[(df_final['Terminado'] == 1.0) | (df_final['Anulado'] == 1.0)]

In [12]:
df_projetos_terminados_anulados

,NIF_anon,ANO_EXERCICIO,DATA_RECEPCAO,VENDAS_SERVICOS_PRESTADOS,SUBSIDIOS_EXPLORACAO,GANHOS_PERDAS_SUBSIDIARIAS,VARIA_INVENTARIOS_PRODUCAO,TRABALHOS_PROPRIA_ENTIDADE,CMVMC,FSE,...,Uploads/Aplicavel_08,Uploads/Upload_08,Dimensao_Empresa,resultado_das_atividades_descontinuadas,Nproj_anon_x,Motivo,Anulado,Nproj_anon_y,Tipo,Terminado
0,533683393.0,2013,35:43.0,3575292.13,5899.36,0.0,9406.38,2060.62,1214731.77,888963.00,...,NaN,NaN,Coletivo,NaN,NaN,NaN,NaN,21149.0,"ENCINV,PPI,PPI,PPI",1.0
1,533683393.0,2014,27:06.0,6136916.06,2812.45,0.0,19587.83,4197.72,2268654.92,1972050.22,...,NaN,NaN,Coletivo,NaN,NaN,NaN,NaN,21149.0,"ENCINV,PPI,PPI,PPI",1.0
2,533683393.0,2015,22:53.0,7176441.46,0.00,0.0,9806.96,10934.50,2741715.01,2269277.86,...,NaN,NaN,Coletivo,NaN,NaN,NaN,NaN,21149.0,"ENCINV,PPI,PPI,PPI",1.0
3,533683393.0,2016,11:15.0,7565329.52,0.00,0.0,17359.80,1585.60,3454351.06,1831458.57,...,NaN,NaN,Coletivo,NaN,NaN,NaN,NaN,21149.0,"ENCINV,PPI,PPI,PPI",1.0
4,533683393.0,2017,44:57.0,7960571.39,0.00,0.0,29036.97,756.97,3372989.75,1944322.79,...,NaN,NaN,Coletivo,NaN,NaN,NaN,NaN,21149.0,"ENCINV,PPI,PPI,PPI",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44469,981689435.0,2020,11:24.0,0.00,4358.00,0.0,0.00,0.00,5230.93,21434.80,...,NaN,NaN,Coletivo,NaN,5579015.0,Incumprimento das obrigações ou resultados con...,1.0,NaN,NaN,NaN
44470,281789489.0,2020,44:50.0,67374.35,0.00,0.0,0.00,0.00,52468.25,7351.29,...,NaN,NaN,Coletivo,NaN,2255722.0,Desistência do promotor,1.0,NaN,NaN,NaN
44500,382488479.0,2020,36:43.0,0.00,0.00,0.0,0.00,0.00,0.00,4611.50,...,NaN,NaN,Coletivo,NaN,2254854.0,Desistência do promotor,1.0,NaN,NaN,NaN
44504,82188456.0,2020,57:59.0,24953.19,0.00,0.0,0.00,0.00,0.00,7874.25,...,NaN,NaN,Coletivo,NaN,2256032.0,Inexecução integral da candidatura,1.0,NaN,NaN,NaN
44531,782282457.0,2020,07:18.0,38068.91,0.00,0.0,0.00,0.00,15307.68,56786.38,...,S,S,Coletivo,NaN,2206711.0,Desistência do promotor,1.0,NaN,NaN,NaN

In [13]:
df_projetos_terminados_anulados.loc[(df_projetos_terminados_anulados['Terminado'] == 1.0) & (df_projetos_terminados_anulados['Anulado'] == 1.0)]

,NIF_anon,ANO_EXERCICIO,DATA_RECEPCAO,VENDAS_SERVICOS_PRESTADOS,SUBSIDIOS_EXPLORACAO,GANHOS_PERDAS_SUBSIDIARIAS,VARIA_INVENTARIOS_PRODUCAO,TRABALHOS_PROPRIA_ENTIDADE,CMVMC,FSE,...,Uploads/Aplicavel_08,Uploads/Upload_08,Dimensao_Empresa,resultado_das_atividades_descontinuadas,Nproj_anon_x,Motivo,Anulado,Nproj_anon_y,Tipo,Terminado
3713,939581345.0,2013,51:48.0,2903299.00,0.0,0.00,-10114.00,0.0,901450.00,1040309.00,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3715,939581345.0,2014,26:34.0,2794325.00,0.0,0.00,58132.00,0.0,893577.00,889415.00,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3717,939581345.0,2015,20:45.0,2735414.36,0.0,0.00,-4090.56,0.0,836153.60,853859.80,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3719,939581345.0,2016,25:17.0,3152284.08,0.0,0.00,-38505.00,0.0,846314.15,1118667.92,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3721,939581345.0,2017,27:22.0,3170628.30,0.0,0.00,5820.00,0.0,962653.39,1193843.02,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3723,939581345.0,2018,38:05.0,2719145.00,0.0,0.00,25466.00,0.0,911108.89,907937.73,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3725,939581345.0,2019,16:12.0,3339838.18,0.0,0.00,57442.11,0.0,985443.48,1127782.58,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0
3727,939581345.0,2020,46:16.0,637460.28,0.0,911277.68,-115303.33,0.0,170700.55,394082.00,...,NaN,NaN,Coletivo,NaN,31751.0,Desistência do promotor,1.0,31751.0,"ENCINV,PPI,PPI,PPI,PPI",1.0

In [14]:
# Projeto 31751 está terminado e anulado
# Como tem apenas ENCINV --> passa a ser considerado apenas como anulado
df_projetos_terminados_anulados.loc[df_projetos_terminados_anulados['N_Proj_anon'] == 31751, ['Terminado']] = 0.0

In [15]:
df_projetos_terminados_anulados.loc[(df_projetos_terminados_anulados['Terminado'] == 1.0) & (df_projetos_terminados_anulados['Anulado'] == 1.0)]

Empty DataFrame
Columns: [NIF_anon, ANO_EXERCICIO, DATA_RECEPCAO, VENDAS_SERVICOS_PRESTADOS, SUBSIDIOS_EXPLORACAO, GANHOS_PERDAS_SUBSIDIARIAS, VARIA_INVENTARIOS_PRODUCAO, TRABALHOS_PROPRIA_ENTIDADE, CMVMC, FSE, GASTOS_PESSOAL, IMPARIDADE_INVENTARIOS, IMPARIDADE_DIVIDAS_A_RECEBER, PROVISOES, IMPARIDADE_INVENTA_N_AMORT_INVESTIMENTOS_N_DEPRECIAVEIS, OUTRAS_IMPARIDADES, AUMENTOS_RED_JUSTO_VALOR, OUTROS_REDIMENTOS_GANHOS, OUTROS_GASTOS_PERDAS, RES_ANTES_DEPRECIACAO_GASTOS, GASTOS_DEPRECIACAO_AMORTIZA, IMPARIDADE_INVEST_AMORTIZ_DEPRECIAVEIS, RESULTADO_OPERACIONAL, JUROS_RENDIME_SIMILARES_OBT, JUROS_GAST_SIMILARES_SUPORT, RES_ANTES_IMPOSTOS, IMPOSTO_RENDIMENTO_PERIODO, RESULTADO_LIQUIDO_PERIODO, ATIVO_NCOR_FIXOS_TANGIVEIS, ATIVO_NCOR_PROPRI_INVESTIMENTO, ATIVO_NCOR_GOODWILL, ATIVO_NCOR_INTANGIVEIS, ATIVO_NCOR_BIOLOGICOS, ATIVO_NCOR_PART_FINAN_EQV_PAT, ATIVO_NCOR_PART_FIN_OUTROS_MET, ATIVO_NCOR_ACCIONISTAS_SOCIOS, ATIVO_NCOR_OUTROS_ACT_FINANC, ATIVO_NCOR_IMPOSTOS_DIFERIDOS, ATIVO_NCOR_INV_FINANC_PQ_ENTID, ATIVO_NCOR_TOTAL, ATIVO_COR_INVENTARIOS, ATIVO_COR_ACTIVOS_BIOLOGICOS, ATIVO_COR_CLIENTES, ATIVO_COR_ADIANTAMENTOS_FORNEC, ATIVO_COR_ESTADO_OUT_ENTES_PUB, ATIVO_COR_ACCIONISTAS_SOCIOS, ATIVO_COR_OUTRA_CONT_A_RECEBER, ATIVO_COR_DIFERIMENTOS, ATIVO_COR_ACT_FINAC_DETIDO_NEG, ATIVO_COR_OUTROS_ACT_FINANCEIR, ATIVO_COR_ACT_N_COR_DET_VENDA, ATIVO_COR_OUTROS_ACT_CORRENTES, ATIVO_COR_CAIXA_DEP_BANCARIOS, ATIVO_COR_TOTAL, ATIVO_TOTAL, CP_CAPITAL_REALIZADO, CP_ACCOES_PROPRIAS, CP_OUTROS_INSTR_CAP_PROPRIO, CP_PREMIOS_EMISSAO, CP_RESERVAS_LEGAIS, CP_OUTRAS_RESERVAS, CP_RESULTADOS_TRANSITADOS, CP_AJUST_EM_ACT_FINANCEIROS, CP_EXCENDENTES_REVALORIZACAO, CP_OUTRAS_VARIACAOES_CAP_PRO, CP_SOMA, CP_RESULTADO_LIQUIDO_PERIODO, CP_DIVIDENDOS_ANTECIPADOS, CP_TOTAL, PASSIVO_NC_PROVISOES, PASSIVO_NC_FINANCIAMENTOS_OBTD, PASSIVO_NC_RESP_BENEF_POS_EMPREG, PASSIVO_NC_IMPOSTOS_DIFERIDOS, PASSIVO_NC_OUTRAS_CONTAS_A_PAGAR, PASSIVO_NC_TOTAL, PASSIVO_COR_FORNCEDORES, PASSIVO_COR_ADIANTA_DE_CLIENTES, PASSIVO_COR_ESTADO_OUT_ENT_PUB, PASSIVO_COR_ACCIONISTAS_SOCIOS, PASSIVO_COR_FINANCIAMENTOS_OBTD, PASSIVO_COR_OUT_CONTAS_A_PAGAR, PASSIVO_COR_DIFERIMENTOS, PASSIVO_COR_PASS_FINANC_DET_NEG, PASSIVO_COR_OUTROS_PASS_FINANCEI, PASSIVO_COR_PAS_NC_DETIDOS_VENDA, PASSIVO_COR_OUTROS_PAS_CORRENTES, PASSIVO_COR_TOTAL, PASSIVO_TOTAL, CP_E_PASSIVO_TOTAL, 1_PESSOAL_NMP_PSERNR, 2_PESSOAL_NHT_PSERNR, 1_PESSOAL_NMP_PESS_REMUN_SE, 2_PESSOAL_NHT_PESS_REMUN_SE, 1_PESSOAL_NMP_PESS_N_REMUN, 2_PESSOAL_NHT_PESS_N_REMUN, 1_PESSOAL_NMP_PSE_TEMPO_COMPLETO, 2_PESSOAL_NHT_PSE_TEMPO_COMPLETO, 1_PESSOAL_NMP_PSETC_REMUNERADAS, 2_PESSOAL_NHT_PSETC_REMUNERADAS, 1_PESSOAL_NMP_PSE_TEMPO_PARCIAL, ...]
Index: []

[0 rows x 411 columns]

In [16]:
check_project_year_candidate_duplicates(df_projetos_terminados_anulados)

Empty DataFrame
Columns: [N_Proj_anon, ANO_EXERCICIO, size]
Index: []

In [17]:
df_projetos_terminados_anulados.shape

(9855, 411)

In [18]:
df_projetos_terminados_anulados[df_projetos_terminados_anulados['Dimensao_Empresa'] == "Coletivo"].shape

(9855, 411)

In [19]:
df_projetos_terminados_anulados[df_projetos_terminados_anulados['Dimensao_Empresa'] == "Singular"].shape

(0, 411)

In [20]:
len(df_projetos_terminados_anulados[df_projetos_terminados_anulados['Terminado'] == 1.0]['N_Proj_anon'].unique())

805

In [21]:
len(df_projetos_terminados_anulados[df_projetos_terminados_anulados['Anulado'] == 1.0]['N_Proj_anon'].unique())

552

### Obter projetos que não têm informação anterior ao ano de candidatura

In [22]:
df_anos_atividade = df_projetos_terminados_anulados.groupby(['N_Proj_anon', 'Parametros/Ano_Cand']).agg({'ANO_EXERCICIO': list, 'Terminado': 'first', 'Anulado': 'first'}).reset_index().copy()
#df_anos_atividade['ANO_EXERCICIO_MIN'] =  df_anos_atividade['ANO_EXERCICIO'].apply(lambda x: min(x))
df_anos_atividade.rename(columns = {'ANO_EXERCICIO':'LISTA_ANO_EXERCICIO'}, inplace = True)
df_anos_atividade

,N_Proj_anon,Parametros/Ano_Cand,LISTA_ANO_EXERCICIO,Terminado,Anulado
0,15166,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN
1,15197,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN
3,15414,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0
4,15662,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN
...,...,...,...,...,...
1352,5579015,2021.0,[2020],NaN,1.0
1353,5579852,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0
1354,5580720,2021.0,"[2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0
1355,5599878,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0

In [23]:
# df_anos_atividade = df_projetos_terminados_anulados.groupby(['N_Proj_anon', 'Parametros/Ano_Cand'])['ANO_EXERCICIO'].apply(list).reset_index().copy()
# df_anos_atividade['ANO_EXERCICIO_MIN'] =  df_anos_atividade['ANO_EXERCICIO'].apply(lambda x: min(x))
# df_anos_atividade

In [24]:
def exclude_greater_than(numbers_list, max_value):
    return [num for num in numbers_list if num < max_value]

In [25]:
#df_anos_atividade[['LISTA_ANO_EXERCICIO', 'ANO_EXERCICIO_MIN']]

In [26]:
df_anos_atividade['ANO_EXERCICIO_VALIDOS'] =  df_anos_atividade.apply(lambda x: exclude_greater_than(x['LISTA_ANO_EXERCICIO'], x['Parametros/Ano_Cand']), axis=1)
df_anos_atividade

,N_Proj_anon,Parametros/Ano_Cand,LISTA_ANO_EXERCICIO,Terminado,Anulado,ANO_EXERCICIO_VALIDOS
0,15166,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[2013]
1,15197,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[2013]
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,"[2011, 2012, 2013]"
3,15414,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,[2013]
4,15662,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[2013]
...,...,...,...,...,...,...
1352,5579015,2021.0,[2020],NaN,1.0,[2020]
1353,5579852,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]"
1354,5580720,2021.0,"[2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2014, 2015, 2016, 2017, 2018, 2019, 2020]"
1355,5599878,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]"
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]"

In [27]:
df_anos_atividade[df_anos_atividade['ANO_EXERCICIO_VALIDOS'].apply(lambda x: len(x) < 1)]

,N_Proj_anon,Parametros/Ano_Cand,LISTA_ANO_EXERCICIO,Terminado,Anulado,ANO_EXERCICIO_VALIDOS
31,18917,2014.0,"[2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[]
46,20870,2014.0,"[2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[]
48,20932,2014.0,"[2015, 2016, 2017]",NaN,1.0,[]
72,23319,2014.0,"[2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,[]
101,26698,2014.0,"[2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[]
...,...,...,...,...,...,...
1331,2194032,2019.0,"[2019, 2020]",NaN,1.0,[]
1338,2206711,2019.0,[2020],NaN,1.0,[]
1342,2254854,2019.0,[2020],NaN,1.0,[]
1345,2255722,2019.0,[2020],NaN,1.0,[]
1346,2256032,2019.0,[2020],NaN,1.0,[]

In [28]:
len(df_anos_atividade.loc[(df_anos_atividade['ANO_EXERCICIO_VALIDOS'].apply(lambda x: len(x) < 1)) & (df_anos_atividade['Terminado'] == 1.0)])

44

In [29]:
len(df_anos_atividade.loc[(df_anos_atividade['ANO_EXERCICIO_VALIDOS'].apply(lambda x: len(x) < 1)) & (df_anos_atividade['Anulado'] == 1.0)])

115

In [30]:
# Filtrar projetos que não têm ANO_EXERCICIO_VALIDOS
df_anos_atividade = df_anos_atividade.loc[df_anos_atividade['ANO_EXERCICIO_VALIDOS'].apply(lambda x: len(x) >= 1)]
df_anos_atividade

,N_Proj_anon,Parametros/Ano_Cand,LISTA_ANO_EXERCICIO,Terminado,Anulado,ANO_EXERCICIO_VALIDOS
0,15166,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[2013]
1,15197,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[2013]
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,"[2011, 2012, 2013]"
3,15414,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,[2013]
4,15662,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,[2013]
...,...,...,...,...,...,...
1352,5579015,2021.0,[2020],NaN,1.0,[2020]
1353,5579852,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]"
1354,5580720,2021.0,"[2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2014, 2015, 2016, 2017, 2018, 2019, 2020]"
1355,5599878,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]"
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]"

In [31]:
df_anos_atividade_exploded = df_anos_atividade.explode('ANO_EXERCICIO_VALIDOS')
df_anos_atividade_exploded

,N_Proj_anon,Parametros/Ano_Cand,LISTA_ANO_EXERCICIO,Terminado,Anulado,ANO_EXERCICIO_VALIDOS
0,15166,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,2013
1,15197,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,2013
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,2011
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,2012
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,2013
...,...,...,...,...,...,...
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2016
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2017
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2018
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2019
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2020

In [32]:
df_anos_atividade_exploded[(df_anos_atividade_exploded['ANO_EXERCICIO_VALIDOS'].notna()) | (df_anos_atividade_exploded['ANO_EXERCICIO_VALIDOS'].notnull())]

,N_Proj_anon,Parametros/Ano_Cand,LISTA_ANO_EXERCICIO,Terminado,Anulado,ANO_EXERCICIO_VALIDOS
0,15166,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,2013
1,15197,2014.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",1.0,NaN,2013
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,2011
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,2012
2,15383,2014.0,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",1.0,NaN,2013
...,...,...,...,...,...,...
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2016
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2017
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2018
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2019
1356,5603288,2021.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",NaN,1.0,2020

### Filtrar pelos projetos que têm informação dos anos anteriores face ao ano de candidatura

In [33]:
df_projetos_terminados_anulados.shape

(9855, 411)

In [34]:
df_anos_atividade_exploded = df_anos_atividade_exploded.drop(columns=['Parametros/Ano_Cand', 'Terminado', 'Anulado'])

In [35]:
df_projetos_validos = df_projetos_terminados_anulados.merge(df_anos_atividade_exploded, left_on=['N_Proj_anon', 'ANO_EXERCICIO'], right_on=['N_Proj_anon', 'ANO_EXERCICIO_VALIDOS'], how="inner")
df_projetos_validos
# Porque é que ficou com 2875 registos em vez de 3032

,NIF_anon,ANO_EXERCICIO,DATA_RECEPCAO,VENDAS_SERVICOS_PRESTADOS,SUBSIDIOS_EXPLORACAO,GANHOS_PERDAS_SUBSIDIARIAS,VARIA_INVENTARIOS_PRODUCAO,TRABALHOS_PROPRIA_ENTIDADE,CMVMC,FSE,...,Dimensao_Empresa,resultado_das_atividades_descontinuadas,Nproj_anon_x,Motivo,Anulado,Nproj_anon_y,Tipo,Terminado,LISTA_ANO_EXERCICIO,ANO_EXERCICIO_VALIDOS
0,533683393.0,2013,35:43.0,3575292.13,5899.36,0.00,9406.38,2060.62,1214731.77,888963.00,...,Coletivo,NaN,NaN,NaN,NaN,21149.0,"ENCINV,PPI,PPI,PPI",1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",2013
1,833283384.0,2013,27:40.0,4112351.02,0.00,29583.09,151330.82,0.00,2228737.52,834301.58,...,Coletivo,NaN,NaN,NaN,NaN,465007.0,"ENCINV,PPI,PPI,PPI,PPI",1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",2013
2,833283384.0,2014,14:12.0,4375479.08,5363.90,7022.68,129606.23,0.00,2421525.79,847677.45,...,Coletivo,NaN,NaN,NaN,NaN,465007.0,"ENCINV,PPI,PPI,PPI,PPI",1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",2014
3,233783340.0,2013,40:46.0,2451333.02,24466.63,0.00,-4140.48,0.00,824628.05,824386.54,...,Coletivo,NaN,NaN,NaN,NaN,605313.0,"ENCINV,PPI,PPI",1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",2013
4,233783340.0,2014,42:30.0,2858042.68,31100.02,0.00,-48818.66,0.00,790521.13,997313.78,...,Coletivo,NaN,NaN,NaN,NaN,605313.0,"ENCINV,PPI,PPI",1.0,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]",2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2867,78389425.0,2018,57:48.0,0.00,0.00,0.00,0.00,0.00,0.00,554.07,...,Coletivo,NaN,1444390.0,Inexecução integral da candidatura,1.0,NaN,NaN,NaN,"[2017, 2018, 2019]",2018
2868,270782426.0,2018,40:11.0,435979.92,0.00,0.00,0.00,0.00,338821.18,34269.62,...,Coletivo,NaN,2254916.0,Incumprimento das obrigações ou resultados con...,1.0,NaN,NaN,NaN,"[2018, 2019, 2020]",2018
2869,472287411.0,2018,57:46.0,35400.00,0.00,0.00,0.00,0.00,0.00,35697.61,...,Coletivo,NaN,1445940.0,Outros (especificar em fundamentação),1.0,NaN,NaN,NaN,"[2018, 2019, 2020]",2018
2870,584488422.0,2018,50:48.0,28590.00,0.00,0.00,0.00,0.00,16095.00,958.39,...,Coletivo,NaN,1448482.0,Inexecução integral da candidatura,1.0,NaN,NaN,NaN,"[2018, 2019, 2020]",2018
2871,981689435.0,2020,11:24.0,0.00,4358.00,0.00,0.00,0.00,5230.93,21434.80,...,Coletivo,NaN,5579015.0,Incumprimento das obrigações ou resultados con...,1.0,NaN,NaN,NaN,[2020],2020

In [36]:
check_project_year_candidate_duplicates(df_projetos_validos, ['N_Proj_anon', 'ANO_EXERCICIO'])

Empty DataFrame
Columns: [N_Proj_anon, ANO_EXERCICIO, size]
Index: []

In [37]:
df_projetos_validos.to_csv(path_save + 'finaldataset_valido.csv', index=False, encoding='latin-1')

In [38]:
df_projetos_validos.loc[df_projetos_validos['Anulado'] == 1.0, ['N_Proj_anon', 'Motivo']]

      N_Proj_anon                                             Motivo
21        1025053  Incumprimento das obrigações ou resultados con...
22        1025053  Incumprimento das obrigações ou resultados con...
23        1025053  Incumprimento das obrigações ou resultados con...
24        1025053  Incumprimento das obrigações ou resultados con...
30          37858                              Insolvências, PER ...
...           ...                                                ...
2867      1444390                 Inexecução integral da candidatura
2868      2254916  Incumprimento das obrigações ou resultados con...
2869      1445940              Outros (especificar em fundamentação)
2870      1448482                 Inexecução integral da candidatura
2871      5579015  Incumprimento das obrigações ou resultados con...

[1221 rows x 2 columns]